<!DOCTYPE html>
<html data-width="750">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=0">

    <script src="{:C('JS_URL')}rem.js"></script>
    <title>天机电商</title>
    <link rel="stylesheet" href="{:C('CSS_URL')}base.css" />
    <link rel="stylesheet" href="{:C('CSS_URL')}style.css">
    	
</head>
<body>
<div class="top">
    <div class="header">
        <div class="logo">
            <img src="{:C('IMGS_URL')}logo.png" width="100%" alt="">
        </div>
        <a href="shopcar.html"><img src="{:C('IMGS_URL')}shop.png" alt="" width="32" class="shop"></a>
    </div>
    <div class="banner">
        <img src="{:C('IMGS_URL')}bg_02_03.jpg" width="100%" alt="">
    </div>
</div>
<section class="clear">
    <div class="left">
        <a href="s1.html">
            <div class="i-left">
              <img src="{:C('IMGS_URL')}s1.png" width="100%" alt="" class="s1">
            </div>
        </a>
        <p class="main">黑雪蜂蜜</p>
        <p>￥ 88</p>
    </div>
    <div class="right">
        <a href="s2.html">
           <div class="i-right">
               <img src="{:C('IMGS_URL')}s2.png" width="100%" alt="">
           </div>
        </a>
        <p class="main2">妈妈的碾坊礼盒(有机米)</p>
        <p class="main3">￥ 169</p>
    </div>
    </section>
    <ul class="footer-mes">
        <li><a href="s3.html"><img src="{:C('IMGS_URL')}s3.jpg" width="100%" alt=""></a></li>
        <li><a href="s4.html"><img src="{:C('IMGS_URL')}s4.jpg" width="100%" alt=""></a></li>
    </ul>
<include file="Public:bottom" />
</body>
</html>