.top {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: #024067;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

.title {
	margin-left: 30px;
}

.title3 {
	margin-left: 400px;
}

.top input{		
}
#exit,#change{position: absolute;top: 28px;font-size: 18px;}
#exit{right: 15%;}
#change{right: 20%;}
/*以上是头部*/
.menu {
	width: 10%;
	border: 1px solid #0070a2;
	font-size: 18px;
	padding: 20px 20px 120px 20px;
	background: #0070a2;
	color: #FFFFFF;
	float: left;
}

.list {
	height: 40px;
	line-height: 40px;
	margin-top: 30px;
	cursor: pointer;
}

.list>img {
	margin-top: 10px;
	cursor: pointer;
}

.in-text {
	margin-left: 30px;
}

.mains {
	display: none;
	padding-left: 50px;
	font-size: 16px;
}

.li-main {
	width: 100%;
}

.li-main li {

	line-height: 30px;
	height: 30px;
}

.li-main li a {
	color: #FFFFFF;
}

.right {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
/*	border: 1px solid #008000;*/
	padding-left: 20px;	
}