<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
	<link rel="stylesheet" href="{:C('CSS_URL')}login.css">

</head>
<body>
	<div class="login-top"></div>
	<div class="login-header"></div>
	<div class="login-mes">
		<h2>天机电商</h2>
		<form action="" method="post">
			<label for="user"><span class="user">
			用户名：
		</span><input type="text" name="user" id="user" value="" placeholder="请输入用户名" required="required"></label>
		<br />
		<label for="psw"><span class="psw">
			密码：
		</span><input type="password" name="psw" id="psw" value="" placeholder="请输入密码" required="required" /></label>
		<br />
		<input type="submit" value="登录" id="send">
		 
			<br />
			<a href="register.html"><input type="hidden" value="注册" id="new"></a> 
			<a href="{:U('User/password')}"><input type="button" value="忘记密码" id="reset"></a>
			<dl>
			    <dd style="padding-left:60px;color:red;font-size:14px;">
						{$errorinfo|default=""}
			</dd>	
			</dl>
		   <!--  <li style="padding-left:60px;color:red;font-size:14px;">
						{$errorinfo|default=""}
			</li> -->
		</form>

	</div>
	
</body>
</html>