<ul class="footer">
    <li class="item">
        <a href="__APP__/Home/Index/index/active/1.html">
            <if condition="$active == 1">
                <img src="{:C('IMG_URL')}b1.png">
                <p class="f-active">首页</p>
                <else/>
                <img src="{:C('IMG_URL')}a1.png">
                <p>首页</p>
            </if>
        </a>
    </li>
    <li class="item">
        <a href="__APP__/Home/Index/subscribe/active/2.html"">
            <if condition="$active == 2">
                <img src="{:C('IMG_URL')}b2.png">
                <p class="f-active">预购/预售</p>
                <else/>
                <img src="{:C('IMG_URL')}a2.png">
                <p>预购/预售</p>
            </if>
        </a>
    </li>
    <li class="item">
        <a href="__APP__/Home/Goods/goodsList">
            <if condition="$controller === Goods">
                <img src="{:C('IMG_URL')}b3.png">
                <p class="f-active">商城</p>
                <else/>
                <img src="{:C('IMG_URL')}a3.png">
                <p>商城</p>
            </if>
        </a>
    </li>
    <li class="item">
        <a href="__APP__/Home/Notice/noticeList">
            <if condition="$controller == Notice">
                <img src="{:C('IMG_URL')}b4.png">
                <p class="f-active">公告</p>
                <else/>
                <img src="{:C('IMG_URL')}a4.png">
                <p>公告</p>
            </if>
        </a>
    </li>
    <li class="item">
        <a href="__APP__/Home/Index/person/active/5.html">
            <if condition="$active == 5">
                <img src="{:C('IMG_URL')}b5.png">
                <p class="f-active">个人</p>
                <else/>
                <img src="{:C('IMG_URL')}a5.png">
                <p>个人</p>
            </if>
        </a>
    </li>
</ul>