<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="{:C('CSS_URL')}base.css" />
    <script type="text/javascript" src="{:C('JS_URL')}jquery.min.js"></script>
    <script type="text/javascript">
    
    	
   		
    </script>
    <style type="text/css">
   		.notice-main{width: 89%;margin: 0 auto;background: #ededed;border-radius: 20px;margin-top: 20px;}
  		.notice-title{width: 90%;margin: 0 auto;border-bottom: 1px solid #0C86E5;line-height: 50px;}
  		.notice-mes{width: 90%;margin: 0 auto;height: 150px;font-size: 16px;}
  		.notice-mes p{ width:100%;line-height: 35px;margin-top: 10px;}
  		.notice-title span{}
  		.sub-title{font-size: 18px;}
  		.tag{float: right;}
    	
    	
    </style>
</head>
<body>
	<div id="app">
		<div class="header">
			公告
		</div>
		<div class="notice-main">
			<div class="notice-title clear">
				<span class="sub-title color-b">这是标题</span><span class="tag">2017-02-25</span>
			</div>
			<div class="notice-mes">
				<p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
			</div>
		</div>
		<div class="notice-main">
			<div class="notice-title clear">
				<span class="sub-title color-b">这是标题</span><span class="tag">2017-02-25</span>
			</div>
			<div class="notice-mes">
				<p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
			</div>
		</div>
		<div class="notice-main">
			<div class="notice-title clear">
				<span class="sub-title color-b">这是标题</span><span class="tag">2017-02-25</span>
			</div>
			<div class="notice-mes">
				<p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
			</div>
		</div>
		<div class="notice-main">
			<div class="notice-title clear">
				<span class="sub-title color-b">这是标题</span><span class="tag">2017-02-25</span>
			</div>
			<div class="notice-mes">
				<p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
			</div>
		</div>
		<ul class="footer">
			<li class="item"><a href="index.html"><img src="{:C('IMG_URL')}a1.png"><p>首页</p></a></li>
			<li class="item"><a href="subscribe.html"><img src="{:C('IMG_URL')}a2.png"><p>预购/预售</p></a></li>
			<li class="item"><a href="shop2.html"><img src="{:C('IMG_URL')}a3.png"><p>商城</p></a></li>
			<li class="item"><a href="javascript:;"><img src="{:C('IMG_URL')}b4.png"><p class="f-active">公告</p></a></li>
			<li class="item"><a href="person.html"><img src="{:C('IMG_URL')}a5.png"><p>个人</p></a></li>
		</ul>
	</div>
</body>
</html>