<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>微信安全支付</title>
<script type="text/javascript">
        //调用微信JS api 支付
       function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',<?php echo $jsApiParameters;?>,
            
            function(res){
                WeixinJSBridge.log(res.err_msg);
				if(res.err_msg == "get_brand_wcpay_request:ok"){
					alert('支付成功!');
				} else if(res.err_msg == "get_brand_wcpay_request:cancel"){
					alert('取消支付');
				} else if(res.err_msg == "get_brand_wcpay_request:fail"){
				    alert('支付异常');
				}
				location.href="/index.php/Home/Index/person/active/5.html";
            }
        );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
		callpay();
		
		
    </script>
</head>
<body>
</br></br></br></br>
<!--div align="center">
<h3>确定充值<?php echo $total_amount*0.01.'元';?></h3>
    <button style="width:210px; height:30px; background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >贡献一下</button>
</div>
</body-->
</html>