html, body, div, h1, h2, h3, h4, h5, h6, p, span, a, ul, li, ol, dl, dd, dt, input, select, form, table, td, tr, hr, br, img, select, video, audio, textarea {
  margin: 0;
  padding: 0;
  vertical-align: top;
  outline: none; }

body {
  font-size: 16px;
  font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
  border: 0;
  background: #fff; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

input {
  border: none; }

.clear::after {
  content: '.';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.top {
  width: 100%;
  background: #f2f2fd;
  padding-bottom: 0.3rem; }

.header {
  width: 100%;
  background: #ffffff;
  height: 1rem;
  padding: 0.2rem 0;
  position: relative; }

.logo {
  width: 2rem;
  margin: 0 auto; }

.shop {
  position: absolute;
  right: 0.3rem;
  top: 0.2rem; }

.banner {
  width: 7.5rem;
  margin-top: 0.3rem; }

section {
  width: 100%;
  text-align: center;
  position: relative; }

.left {
  float: left;
  width: 3rem; }
  .left .i-left {
    width: 1.38rem;
    height: 1.26rem;
    margin-left: 1rem;
    margin-top: 0.45rem; }

.right {
  float: left;
  width: 3rem; }
  .right .i-right {
    width: 3.61rem;
    height: 1.74rem;
    margin-top: 0.65rem; }

.main {
  margin-top: 1.5rem;
  margin-left: 0.3rem; }

.main2 {
  position: absolute;
  right: 0.5rem;
  bottom: 0.4rem; }

.main3 {
  position: absolute;
  right: 1.8rem;
  bottom: 0rem; }

.footer-mes {
  width: 7.5rem; 
  height:300px;}

.footer-mes li {
  width: 3.75rem;
  margin-top: 0.3rem;
  float: left; }

.s3-top {
  width: 7.5rem;
  position: relative; }

.back {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background: #ffffff;
  border-radius: 50%;
  top: 0.2rem;
  left: 0.2rem; }
  .back img {
    width: 0.6rem; }

.s3-section {
  width: 7.5rem;
  margin-top: 0.1rem; }
  .s3-section p {
    margin-left: 0.2rem;
    margin-top: 0.2rem; }

.line {
  width: 7.5rem;
  height: 0.2rem;
  background: #f2f2fd;
  margin-top: 0.1rem; }

.s3-count {
  margin-top: 0.5rem;
  margin-left: 0.2rem; }
  .s3-count .s3-text {
    float: left; }
  .s3-count .s3-btn {
    float: left;
    margin-left: 0.2rem;
    border-bottom: 1px solid #0008d5; }
  .s3-count input[type=button] {
    color: #0008d5;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.3rem;
    background: none; }

.s3-shop {
  width: 7.5rem;
  padding: 0.2rem 0;
  text-align: right;
  margin-top: 0.4rem; }
  .s3-shop .getshop {
    margin-right: 0.7rem; }
  .s3-shop .addshop {
    margin-right: 0.4rem; }

.s3-footer {
  width: 7.5rem; }

.s1-back {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background: #ffffff;
  border-radius: 50%;
  top: -0.8rem;
  left: -2.4rem; }
  .s1-back img {
    width: 0.6rem; }

.s1-top {
  width: 1.38rem;
  text-align: center; }
  .s1-top img {
    margin-left: 2.6rem;
    padding-top: 1rem; }

.s2-top {
  width: 7.5rem;
  padding-bottom: 0.5rem; }
  .s2-top img {
    padding-top: 1rem; }

.s2-back {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background: #ffffff;
  border-radius: 50%;
  top: -0.8rem;
  left: 0.2rem; }
  .s2-back img {
    width: 0.6rem; }

.shop-top {
  width: 7.5rem;
  height: 0.8rem;
  position: relative;
  background: #ffffff;
  font-size: 0.32rem;
  color: #0008d5; }
  .shop-top .shop-back {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    background: #ffffff;
    border-radius: 50%;
    top: 0.2rem;
    left: 0.2rem; }
    .shop-top .shop-back img {
      width: 0.6rem; }
  .shop-top .car {
    position: absolute;
    width: 1rem;
    top: 0.3rem;
    left: 1.5rem; }
  .shop-top .shop-total {
    position: absolute;
    width: 2rem;
    top: 0.3rem;
    left: 4rem; }
  .shop-top .total {
    margin-left: 0.1rem;
    margin-right: 0.1rem; }
  .shop-top .end {
    position: absolute;
    width: 1rem;
    top: 0.3rem;
    right: 0.5rem; }

.item {
  width: 7.5rem; }

.item-list {
  width: 7.5rem; }
  .item-list .list-left {
    width: 3rem;
    float: left; }
    .item-list .list-left img {
      width: 1.38rem;
      margin-left: 0.8rem;
      margin-top: 0.6rem; }
  .item-list .list-center {
    float: left;
    width: 3rem; }
    .item-list .list-center p {
      margin-top: 0.3rem; }
      .item-list .list-center p span {
        color: #262dd8; }
  .item-list .list-right {
    float: left;
    width: 1.5rem; }
    .item-list .list-right .check {
      width: 0.5rem;
      height: 0.5rem;
      border: 1px solid #333333;
      border-radius: 50%;
      margin-top: 1rem;
      margin-left: 0.5rem; 
      position: relative;}
      .check-icr{
      	width: 0.3rem;
      	height: 0.3rem;
      	border-radius: 50%;
      	background: #999999;
        right: 0.1rem;
        top: 0.1rem;
        display: inline-block;
        position: absolute;
        display: none;
        z-index: 10;
      
      }
      
    .item-list .list-right .car-del {
      margin-top: 0.8rem;
      margin-left: 0.5rem; }

/*# sourceMappingURL=style.css.map */
